body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(./pictures/1bg.jpg);
    background-size: cover;
     
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.card-header{
    background-color: black;
    color: white;
}